<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>黄伟文</string>
		<key>price</key>
		<string>500</string>
		<key>logo</key>
		<string>黄伟文.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>林夕</string>
		<key>price</key>
		<string>500</string>
		<key>logo</key>
		<string>林夕.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杨千嬅</string>
		<key>price</key>
		<string>800</string>
		<key>logo</key>
		<string>杨千嬅.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王力宏</string>
		<key>price</key>
		<string>900</string>
		<key>logo</key>
		<string>王力宏.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王菲</string>
		<key>price</key>
		<string>1000</string>
		<key>logo</key>
		<string>王菲.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>五月天</string>
		<key>price</key>
		<string>1200</string>
		<key>logo</key>
		<string>五月天.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>何韵诗</string>
		<key>price</key>
		<string>1200</string>
		<key>logo</key>
		<string>何韵诗.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>beyond</string>
		<key>price</key>
		<string>1500</string>
		<key>logo</key>
		<string>beyond.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张学友</string>
		<key>price</key>
		<string>2000</string>
		<key>logo</key>
		<string>张学友.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅</string>
		<key>price</key>
		<string>2000</string>
		<key>logo</key>
		<string>陈奕迅.png</string>
	</dict>
</array>
</plist>
